<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="site {{ with .RelPermalink }}{{ . | strings.TrimRight "/" | strings.TrimLeft "/" | replaceRE "[/]" "-" | default "home" }}{{ else }}home{{ end }}">
    <a class="skip-nav" href="#maincontent">Skip to main content</a>
    <div class="site-wrap">
      <header class="site-header">
        {{ partial "header.html" . }}
      </header>
      <main class="site-main" id="maincontent">
        {{ block "main" . }}{{ end }}
      </main>
      <footer class="site-footer">
        {{ partial "footer.html" . }}
      </footer>
    </div>
    {{ if .Store.Get "hasMermaid" }}
      <script
        src="https://cdn.jsdelivr.net/npm/mermaid@11.4.0/dist/mermaid.min.js"
        integrity="sha256-G8ouPAnw4zzMbnAenHnVz6h9XpKbNdOkrqTh7AadyHs="
        crossorigin="anonymous"
      ></script>
      <script type="text/javascript">
        mermaid.initialize({
          startOnLoad: true,
          theme: 'neutral',
          fontFamily: "'Figtree', sans-serif"
        });
      </script>
    {{ end }}
  </body>
</html>
