{{ define "main" }}
  {{- with .Content }}
    <article class="main">
      {{ . }}
    </article>
  {{ end -}}

  {{- $personal := where site.RegularPages "Section" "personal" -}}
  {{- with $personal.Limit 3 }}
    <section>
      <h2>Personal</h2>
      {{ partial "posts/list.html" . }}
    </section>
  {{ end -}}

  {{- $work := where site.RegularPages "Section" "work" -}}
  {{- with $work.Limit 3 }}
    <section>
      <h2>Work</h2>
      {{ partial "posts/list.html" . }}
    </section>
  {{ end -}}
{{ end }}
