{{ define "main" }}
  <header class="post-header content">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </header>

  {{ $pages := where site.RegularPages "Section" "posts" }}
  {{ $pager := .Paginate ($pages.GroupByDate "2006") 20 }}

  {{- range $pager.PageGroups }}
    <section class="year-group">
      <h2 class="eyebrow">{{ .Key }}</h2>
      {{ partial "posts/list.html" .Pages }}
    </section>
  {{- end }}

  {{- if gt $pager.TotalPages 1 }}
    {{ partial "pagination.html" . }}
  {{- end }}
{{ end }}
